<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="name" content="Trleo">
  <title>Welcome</title>
  <style>

  </style>
</head>
<body>
这个变量是字符串对象：{{ books_name }}<br>
这个变量是函数对象：{{ hello }}<br>
这个变量是类方法对象：{{ fruits_say }}<br>
这个变量是类对象，访问类对象的属性：{{ fruits.name }}<br>
这个变量是类对象，访问类对象的方法：{{ fruits.say }}<br>
这个变量是列表对象{{ list }}<br>
这个变量是列表对象,访问列表的元素{{ list.1 }}<br>
这个变量是字典对象{{ dict }}<br>
这个变量是字典对象,访问字典的键{{ dict.a }}<br>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>

</script>
</body>
</html>